/* Global Styling */
* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #dff0e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 24px;
}

h2 {
  font-weight: 700;
  margin-bottom: 24px;
  color: #2b4246;
  font-size: 1.5rem;
  line-height: 2rem;
}

/* Container Styling */
.container {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 50%;
    padding: 32px;
  }
}

/* Form Element Styles */
form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

input, textarea, select {
  font-size: 16px;
}

label {
  display: block;
  font-weight: 400;
  color: #2b4246;
  font-size: 16px;
}

input[type="text"],
input[type="email"] {
  margin-top: 8px;
  display: block;
  width: 100%;
  border: 1px solid #86a2a6;
  border-radius: 4px;
  padding: 12px 8px;
  cursor: pointer;
}

textarea {
  margin-top: 8px;
  padding: 12px;
  display: block;
  width: 100%;
  border: 1px solid #86a2a6;
  border-radius: 6px;
  cursor: pointer;
  height: 96px;
}

/* Hover & Focus Effects */
input[type="text"]:hover,
input[type="email"]:hover, 
textarea:hover {
  border-color: #0c7d69;
}

input[type="text"]:focus,
input[type="email"]:focus, 
textarea:focus {
  border-color: #0c7d69;
}

/* Name Fields */
.name-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 1024px) {
  .name-box {
    flex-direction: row;
  }
}

.inner-name-box {
  flex: 1;
}

/* Query Type (Radio Button Styling) */
.query-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 1024px) {
  .query-div {
    flex-direction: row;
    justify-content: space-between;
  }
}

.query-label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  border: 1px solid #86a2a6;
  border-radius: 6px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.query-label:hover {
  border-color: #0c7d69;
}

input[type="radio"] {
  appearance: none;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid #0c7d69;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: border-color 0.2s, background-color 0.2s;
}

input[type="radio"]:checked {
  background-color: #dff0e7;
  border-color: #0c7d69;
}

input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #0c7d69;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.query-span {
  color: #2b4246;
  font-size: 16px;
}

/* Checkbox Styles */
.checkbox-div {
  margin-top: 24px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="checkbox"] {
  appearance: none;
  width: 1.25rem; /* 20px */
  height: 1.25rem;
  background-color: white;
  border: 1px solid #86a2a6;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #0c7d69;
  border-color: #0c7d69;
}

input[type="checkbox"]:checked::after {
  content: "✓";
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-span {
  color: #2b4246;
  font-size: 14px;
}

/* Submit Button */
button {
  width: 100%;
  background-color: #0c7d69;
  color: #fff;
  font-weight: 700;
  padding: 14px;
  cursor: pointer;
  border-radius: 6px;
  outline: none;
  border: none;
}

button:hover {
  background-color: #014b3d;
}

/* Required Field Indicator */
.asterisk {
  color: #0c7d69;
}
